<div class="nav">
    <ul>
        <li>
            <a href="{{ permalink }}/customer/">
                Dashboard 
            </a>
        </li>
        <li>
            <a href="{{ permalink }}/customer/subscriptions/">
                Subscriptions
            </a>
        </li>
        <li>
            <a href="{{ permalink }}/logout/">
                Logout 
            </a>
        </li>
    </ul>
</div>