<!DOCTYPE html>
<html>
    <head>
        <title>Emerging Web Lab 5</title>
        <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ permalink }}/assets/css/styles.css" />
    </head>
    <body>