{{> header}}
<form method="POST" action="{{ loginLink }}" autofill="on">
    <input type="email" placeholder="email" name="email" aria-label="email"/>
    <input type="password" placeholder="password" name="password" aria-label="email" />
    <input type="submit" value="Login" />
</form>
{{> footer}}