{{> header}}
<div class="container">
{{> customerNav }}
<div class="content">
<h1>Customer</h1>

<div>
    <h2>Subscriptions</h2>
    {{ #plans }}
    <div id="{{ id }}">
        <h3>{{ name }}</h3>
        <span>{{ price }}</span>
        <p>{{ description }}</p>
    </div>
    {{ /plans }}
    <div id="cardElement"></div>
<div>
</div>
</div>

<script>
    const stripe = new Stripe({{ stripeKey }});
    const elements = stripe.elements();
    const cardElement = elemenets.create("card")
    cardElement.mount("#cardElement")
</script>

{{> footer}}