{{> header}} 
<div class="welcome">   
<h1>My Saas</h1>
    <div>
        <h2>Confirmation Code</h2>
        <form method="POST" action="{{permalink}}/confirm/">
            <input type="text" name="confirmCode" aria-label="confirm code" placeholder="confirm code" />
            <input type="submit" value="Confirm" />
            <span><a href="{{ permalink }}/sendCode/?resend=true">Resend Code</a></span>
            {{ #error }}
            <span class="error">{{ error }}</span>
            {{ /error}}
        </form>
    </div>
    </div>
{{> footer}}